.search-input {
    border: none;
    outline: none;
    box-shadow: none;
    transition: border 0.2s ease;
}


.search-input::placeholder {
    color: #999;
}


.search-input:focus {
    border: none;
}
